.heroContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    background-size: cover;
    background-position: end;
    background-color: black;
    border-radius: 16px;
    margin-top: 40px;
    padding: 0 6%;
}

.backButton{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    color: white;
    text-decoration: none;
    border: 1px solid  #262626;
    background: #191919;
    border-radius: 6px;
    padding: 10px 15px;
    z-index: 999;
    opacity: 0.8;

    top: 5%;
    left: 6%;
    &:hover{
        background-color: rgb(20, 20, 20);
        opacity: 0.9;
    }
}

.poster{
    width: 300px;
    border-radius: 20px;
}

.heroTextContainer{
    max-width: 600px;
    display: flex;
    align-self: end;
    flex-direction: column;
    align-items: flex-start;

    padding: 40px;
    padding-bottom: 160px;

}

.heroTitle{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0;

    color: white;
}

.heroDesc{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    color: #999
}



.heroNav{
    display: flex;
    max-width: 360px;
    width: 100%;

    margin-top: 30px;
}


.heroButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgb(243, 208, 86);
    padding: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &:hover{
        background-color: rgb(226, 189, 55);
    }
}

.heroOptions{
    display: flex;
    gap: 8px;
    margin-left: 20px;
}

.heroOptionItem{
    color: whITE;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  #262626;
    background: #0F0F0F;
    padding: 12px;

    cursor: pointer;

    &:hover, &:focus{
        color: rgb(243, 208, 86);
        background-color: #202020;
    }

    
}

.companiesContainer{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 60px;

    padding-top: 100px;
}

.compLogos{
    width: 100px;
    filter: grayscale(100%);
}
