.detailsContainer{
    color: white;
    padding: 40px;

    display: flex;
    gap: 30px;

    font-size: 20px;
}

.detailsMenuButton{
    list-style: none;
    margin-bottom: 20px;
    font-size: 26px;



    & a{
        display: block;
        color: white;
        text-decoration: none;
        background-color: rgb(145, 145, 145);
        border-radius: 6px;
        padding: 5px;
        text-align: center;

        width: 150px;

        &:hover{
            background-color: rgb(119, 119, 119);
        }
    }

}