.heroContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 700px;
    background-size: cover;
    background-position: end;
    background-color: black;
    border-radius: 16px;
    margin-top: 40px;
}

.heroTextContainer{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
    padding-bottom: 100px;

}

.heroTitle{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0;

    color: white;
}

.heroDesc{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    color: #999
}



.heroNav{
    display: flex;
    max-width: 360px;
    width: 100%;

    margin-top: 30px;
}


.heroButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgb(243, 208, 86);
    max-width: 128px;
    padding: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &:hover{
        background-color: rgb(226, 189, 55);
    }
}

.heroOptions{
    display: flex;
    gap: 8px;
    margin-left: 20px;
}

.heroOptionItem{
    color: whITE;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  #262626;
    background: #0F0F0F;
    padding: 12px;

    cursor: pointer;

    &:hover, &:focus{
        color: rgb(243, 208, 86);
        background-color: #202020;
    }

    
}


.slider{
    & ul{

        padding-bottom: 30px;

        li[class="slick-active"] button::before{
            background-color: rgb(243, 208, 86);
            width: 130%;
            margin-left: -15%;
        }

       button::before{
            content: '';
            width: 100%;
            height: 5px;
            border-radius: 100px;
            background-color: #5c5c5c
       }
    }
}



