.reviewsContainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;

    & li{
        max-width: 1000px;
    }
    
}

.reviewAuthor{
    font-size: 30px;
    font-weight: bold;
}

.reviewText{
    font-weight: 200;
    line-height: 1.5;
}