.heroAddPosterContainer{
    padding: 135px 0;
}

.heroAddPoster{
    width: 100%;
    height: 310px;
    background-image: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 28, 14, 0.91) 46.72%, rgba(229, 218, 0, 0) 168.98%), url('../../images/poster.jpeg');
    background-size: cover;

    border-radius: 12px;
    border: 1px solid #262626;

    display: flex;
    align-items: center;
}

.heroPosterTextContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    
    h2{
        color: white;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        margin-bottom: 15px;
    }

    p{
        color: #999;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
    }
}

.posterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgb(243, 208, 86);
    padding: 16px 24px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &:hover{
        background-color: rgb(226, 189, 55);
    }
}