.navMenu{
    border-radius: 12px;
    border: 4px solid #1F1F1F;
    background: #0F0F0F;
    padding: 10px 15px;
    gap: 4px;

    display: flex;

}

.navLink{
    text-decoration: none;

    padding: 10px 15px;

    color: #bfbfbf;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    border-radius: 8px;
    transition: 200ms linear;
    cursor: pointer;

    &:hover{
        background-color: #1f1f1f;
        color: white;
    }
}

.linkActive{
    background-color: #1f1f1f;
    color: white;
}

.signinBtn{
    font-size: 1.2rem;
    padding: 10px 15px;
    color: #bfbfbf;
    text-decoration: none;
    transition: 200ms linear;

    cursor: pointer;
}

.signinBtn:hover{
    color: white;
}