.form{
    height: 50px;
    width: 50%;
    display: flex;

}

.formButton{
    display: inline-block;
    color:black;
    background-color: rgb(243, 209, 87);
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px 14px;
    font-size: 14px;

    cursor: pointer;

    &:hover{
        background-color: rgb(214, 173, 23);
    }
}

.input{
    border: none;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgb(31, 31, 31);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    outline: none;
}

.input:focus{
    border: 1px solid white;
}
