.navList{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navButton{
    display: inline-flex;

}

.navLink{
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
    list-style: none;

    color: white;
    background-color: brown;

    &:hover{
        background-color: rgb(130, 25, 25);
    }

}
