.navList{
    display: flex;
    gap: 20px;
}

.navButton{
    display: inline-flex;
    list-style: none;

    & a{
        text-decoration: none;
        border-radius: 6px;
        padding: 8px;

        color: white;
        background-color: brown;

        &:hover{
            background-color: rgb(130, 25, 25);
        }
    }
}
