.moviesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 60px;
}

.filterMenu{
    display: flex;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 8px;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 10px;
}

.listStyle{
    display: flex;
    list-style: none;
    gap: 10px;
}

.listStyleButton{
    display: flex;
    align-items: center;
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 12px;
    border: 1px solid #757575;
    border-radius: 4px;

    cursor: pointer;

    &:hover{
        background-color: #505050;
    }
}

.styleButtonActive{
    background-color: #505050;
}


.loadButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;

    background-color: rgb(243, 208, 86);
    padding: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &:hover{
        background-color: rgb(226, 189, 55);
    }
}

.backToTopButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom: 10%;
    right: 30px;
    width: 60px;
    height: 60px;

    background-color: rgb(243, 208, 86);
    border-radius: 50%;
    border: 2px solid black;

    cursor: pointer;

    &:hover, &:focus{
        background-color: rgb(200, 165, 38)
    }
}

.mediaButtonContainer{
    display: flex;
    gap: 15px;
}

.mediaButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 33, 33);
    border: 1px solid #757575;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    transition: 150ms linear;

    cursor: pointer;

    &:hover{
        background-color: rgb(69, 69, 69);
    }
}

.mediaButtonActive{
    background-color: rgb(247, 210, 63);
    color: black;

    &:hover{
        background-color: rgb(247, 210, 63);
    }
}

.listStyle{
    display: flex;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 40px;
}

.paginationButton{
    background-color: rgb(33, 33, 33);
    border: 1px solid #757575;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 100ms linear;

    &:disabled{
        cursor: not-allowed;
        opacity: 0.5;
        background-color: rgb(27, 27, 27);
    }

    &:hover{
        background-color: rgb(247, 210, 63);
        color: black;
        border: 1px solid rgb(247, 210, 63);
    }
}

.paginationPage{
    color: white;
    font-size: 26px;
}

