.infoContainer{
    position: relative;
    gap: 20px;
}

.mainInfo{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 65%;
}

.mainInfoBox{
    border-radius: 12px;
    border: 1px solid  #262626;
    background:  #1A1A1A;

    padding: 40px;

    span{
        font-family: Manrope;
        color: #999;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    p{
        color: white;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    
}

.articleInfo{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 27%;
    padding: 40px;

    border-radius: 12px;
    border: 1px solid  #262626;
    background:  #1A1A1A;
    flex-basis: 50%;

    .itemsList{
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        gap: 10px;
    }

    .itemWrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        border: 1px solid  #262626;
        background:  #141414;

        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;

        padding: 6px 12px;
    }

    .companiesList{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .compWrap{
        height: 50px;
        padding: 15px 20px;
        border-radius: 16px;
    }

    .imgWrap{
        height: 100%;
        width: 70px;
        background-color: rgb(62, 62, 62);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid rgb(140, 140, 140);
        border-radius: 24px;
    }

    .companyImg{
        width: 40px;
    }

    p {
        color: #999;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .detailsYear{
        color: white;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }

    .progressBar{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;

        margin-top: 20px;
        border-radius: 50%;
     
    }

    span{
        color: white;
    }
}

.VideoSliderWrap{
    margin-top: 15px;
}

.frameStyle{
    border: none;
    border-radius: 15px;
    height: 500px;
}

.slider{
    button[class="slick-arrow slick-prev"]{
        

        &::before{

            color: rgb(243, 208, 86);
        }
    }
    button[class="slick-arrow slick-next"]{

        
        &::before{

            color: rgb(243, 208, 86);
        }
    }

}

.reviewsLink{
    display: block;
    color: white;
    text-decoration: none;
    background-color: #202020;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 10px;

    text-align: center;

    margin-top: 20px;
    
    &:hover{
        background-color: #3c3c3c;
    }
}
