.moviesList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    list-style: none;
    padding: 0;
}

.homepageTitle{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 40px;
}